body {
	padding-top: 20px;
	padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}
.container-narrow > hr {
	margin: 30px 0;
}

nav .navbar-brand {
	padding: 0;
}
.profile-logo {
	height: 50px;
	width: 50px;
	margin-left: 10px;
	margin-right: 10px;
}

.navbar-default .navbar-nav>li>a {
	transition: all 0.5s;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #ff7a14;
}

.apps {
	font-size: 14pt;
}
.apps a {
	text-decoration: none;
	color: #777;
	transition: all 0.5s;
}
.apps a:hover {
	color: #ff7a14;
}
.navbar .apps {
	display: inline;
	margin-top: 12px;
}
.footer .apps {
    text-align: right;
}

.top-image {
	background-image: url(/img/top.jpg);
	background-size: 907px;
	background-position: 0px -120px;
}
.top-image > div {
	opacity: 0.6;
	padding-right: 86px;
}

.jumbotron {
	margin: 60px 0;
	text-align: center;
}
.jumbotron h1 {
	font-size: 72px;
	line-height: 1;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}
.jumbotron .btn-info {
    background-color: #ff7a14;
}
.jumbotron .btn-info:hover {
    background-color: #dd6a11;
    border-color: #c45d0f;
}
.jumbotron .btn-info:active {
    background-color: #c45d0f;
    border-color: #c45d0f;
}

/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}

a[target='_blank'] {
	text-decoration: none;
}
